# ==================================
# macOS
# ==================================
.DS_Store
.AppleDouble
.LSOverride
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# ==================================
# .NET / MAUI
# ==================================
[Bb]in/
[Oo]bj/
[Oo]ut/
*.user
*.userosscache
*.sln.docstates
*.suo
*.userprefs

# ==================================
# JetBrains Rider / ReSharper
# ==================================
.idea/
*.sln.iml
*.DotSettings.user

# ==================================
# Otros
# ==================================
*.log